* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.gal-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.flex-gal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 200px;
}

.gal-grid>img{
    width: 300px;
}


.gal-grid > img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Create four equal columns that sits next to each other */
/* .column {
    -ms-flex: 25%; */
    /* IE10 */
    /* flex: 25%;
    max-width: 25%;
    padding: 0 4px;
} */

/* .column img {
    margin-top: 25px;
    vertical-align: middle;
    width: 100%;
} */

.gallery {
    background-image: url(/assets/hotel-gallery.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-weight: bold;
}

.gallery>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery>div>h2 {
    font-size: 80px;
    color:white;
    text-align: center;
    margin-top: 260px;
}

.gallery>div>h5 {
    font-size: 25px;
    color: goldenrod;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.788);
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: normal;
}



/* Responsive layout - makes a two column-layout instead of four columns
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
} */

@media screen and (max-width: 1380px){
    .gal-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width: 1020px) {
    .gal-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width: 660px) {
    .gal-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}