body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100vw;
    background-color: #001630;
    gap: 20px;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header>div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

header > div >img {
    margin: 10px 0px 10px 200px;
    width: 50px;
}

header>div>h1{
    color: white;
}

.head {
    margin-right: 200px;
    margin-left: 50px;
}

.head > ul{
    margin-bottom: 0px;
}

.head > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

.head ul li {
    display: inline;
    padding: 30px;
}

ul {
    text-align: right;
}

.navB{
    border: 2px solid goldenrod;
    border-radius: 5px;
    padding: 10px 20px;
}

.d-block{
    width: 100%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-weight: bold;
}

.carousel-caption > h5{
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 130px;
    font-weight: 800px;
    margin-bottom: 550px;
    color: #001630;

}

.carousel-caption > p{
    margin-bottom: 50px;
    font-size: 50px;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.welcome>h2 {
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 150px;
    color: rgba(218, 165, 32, 0.438);
    position: relative;
}

.welcome > h5{
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    margin-top: 100px;
    line-height: 42px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

.welcome-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 300px;
    gap: 65px;
    align-items: center;
    margin-bottom: 50px;
}

.welcome-main > p{
    margin-top: 100px;
    color: gray;
    line-height: 24px;
}



.all-boxes{
    display: flex;
    margin-top: 50px;
}

.all-boxes > div{
    width: 25%;
    height: 500px;
}

.all-boxes > div:hover{
    transform: scale(1.05);
}

.all-boxes > div > img{
    width: 100%;
}

.box-1{
    background-image: url(/assets/rooms.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-2 {
    background-image: url(/assets/bar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-3 {
    background-image: url(/assets/meeting-room.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-4 {
    background-image: url(/assets/gym.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.trans-bg{
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.box-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-in > img{
    width: 80px;
    margin-bottom: 30px;
}

.box-in > h4{
    color: white;
    font-size: 26px;
    line-height: 20px;
}

.free-box{
    background-color: #dfdfdf;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.free-box-in{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    margin: 50px 350px;
}

.box-in-det{
    display: flex;
    gap: 30px;
    align-items: center;
}

.box-in-det > img{
    width: 60px;
}

.box-in-det > div > h5{
    font-size: 25px;
    font-weight: bold;
}

.box-in-det > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-in-det>div>p {
    font-size: 15px;
    color: gray;
}



div.scroll-container {
    background-color: #ffff;
    overflow: auto;
    white-space: nowrap;
    padding: 15px;
}

div.scroll-container img {
    padding: 15px;
}

/* .rooms-box > img {
    padding: 15px;
} */

.scroll-container{
    margin: 30px 200px;
}

/* .rooms-box{
    border: 1px solid rgba(128, 128, 128, 0.61);
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 600px;
} */


.food{
    background-image: url(/assets/food.jpg);
    background-size: cover;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center; 
    margin-top: 70px; 
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
}

.trans-food{
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-btn{
    color: white;
    background-color: rgba(218, 165, 32, 0.575);
    width: 130px;
    height: 40px;
    margin-top: 30px;
}

.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    margin-top: 50px;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

.mySlides > img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-bottom: 30px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
}

/* Add a blue color to the author */
.author {
    color: cornflowerblue;
}


footer{
    background-color: #001630;
    height: 450px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer-content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 100px;
    color: white;
}

.f-desc{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.f-desc>h2{
    font-size: 45px;
}

.f-desc>p{
    width: 400px;
    color: rgba(255, 255, 255, 0.664);
}

.f-contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.f-contact > p{
    color: rgba(255, 255, 255, 0.664);
}

.f-emil{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.f-emil > p{
    color: rgba(255, 255, 255, 0.664);
}

.email-btn{
    display: flex;
    flex-direction: row;
}

.email-btn > input{
    width: 300px;
    height: 45px;
    border: none;
    padding: 10px;
}

.email-btn > button{
    height: 45px;
    border: none;
    width: 50px;
}

.f-line{
    width: 1200px;
    height: 1px;
    background-color: #717171;
    margin-top: 30px;
    margin-bottom: 30px;
    
}


/* .booking{
    transform: translateX(-50%);
    width: calc(100% - 60rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    background-color: rgba(255, 255, 255, 0.692);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.11);
    border-radius: 2rem;
}

.booking form{
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.input_group{
    width: 100%;
    position: relative;
}

.booking > label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    font-size: 1.2rem;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
}

.booking > input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);

} */



/* Responsive */


@media screen and (max-width: 1470px) {
    .navB{
        visibility: hidden;
    }
}

@media screen and (max-width: 1500px) {
    .free-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        align-items: center;
    }

    .free-box-in{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 50px 150px;
    }
}

@media screen and (max-width: 610px) {
    .box-in-det > img{
        width: 40px;
    }

    .box-in-det > div > h5{
        font-size: 15px;
        font-weight: bold;
    }

    .box-in-det > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-in-det>div>p {
        font-size: 10px;
        color: gray;
    }
}

.head .menu {
    display: none;
}

@media screen and (max-width: 1275px) {
    .head .menu {
        display: block;
    }
    
    .head {
        display: none;
    }

    header > div >img {
        margin: 10px 0px 10px 5r0px;
        width: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .contact {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
        margin: 30px 50px;
    }

    .form {
        background-color: white;
        width: 350px;
        height: 350px;
    }

    .message {
        display: flex;
        flex-direction: column;
        margin: 30px 50px;
        gap: 20px
    }

    .message>h3 {
        font-size: 20px;
        margin: 0px;
    }

    .text {
        width: 230px;
        height: 35px;
    }

    .btn {
        width: 130px;
        height: 40px;
        background-color: #030637;
        color: white;
        font-size: 20px;
    }

    .container>ul>li {
        font-size: 10px;
    }

    footer{
        background-color: #001630;
        height: 800px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 30px;
        color: white;
    }

}

@media screen and (max-width: 725px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 30px 50px;
    }

    .form {
        background-color: white;
        width: 350px;
        height: 205px;
    }

    .message {
        display: flex;
        flex-direction: column;
        margin: 10px 50px;
        gap: 10px
    }

    .message>h3 {
        font-size: 20px;
        margin: 0px;
    }

    .text {
        width: 230px;
        height: 15px;
    }

    .btn {
        width: 130px;
        height: 25px;
        background-color: #030637;
        color: white;
        font-size: 15px;
    }

    .recent-blogs>p {
        font-size: 13px !important;
    }

    .popular-blogs>p {
        font-size: 13px !important;
    }

    .technologies>p {
        font-size: 13px !important;
    }

    .blogs>p {
        font-size: 13px !important;
    }

    footer>h1 {
        font-size: 25px;
    }

    footer>h3 {
        font-size: 13px;
    }

    footer>h3 {
        font-size: 15px;
    }

    .one-detail>img {
        width: 40px;
        height: 40px;
    }

    .con-detail {
        gap: 20px;
    }

    .one-detail {
        gap: 10px;
    }

    .contact-row>h6 {
        font-size: 15px;
    }

    .contact-row>p {
        font-size: 13px;
    }

    .con-detail {
        align-items: start;
        justify-self: start;
    }

}

@media screen and (max-width: 840px) {
    .welcome-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 200px;
        gap: 15px;
        align-items: center;
        margin-bottom: 50px;
    }

    .welcome-main > p{
        margin-top: 30px;
    }

    .box-in > h4{ 
        font-size: 18px;
    }
}
