.rooms {
    background-image: url(/assets/room-dark.jpg);
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-weight: bold;
}